<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/7fe33fff69.js" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="../Styles/auth.css" type="text/css" media="all" />
  <title>Profile Page</title>
</head>

<body>
  <div class="wrapper">
    

  </div>
  <script type="text/javascript" src="../Scripts/profileScript.js" charset="utf-8">
  </script>
</body>

</html>